* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

:global #app,
:global .dev-only{
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}


li {
  list-style: none;
}

[hidden] {
  display: none !important;
}