.contain {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

.link a {
  display: flex;
  flex-direction: column;
  color: lightblue;
}